POSTGRES_PASSWORD=
TZ=Europe/Paris
DISABLE_TELEMETRY=true
RAILS_ENV=production
APPLICATION_HOSTS=localhost,dawarich,dawarich.siffreinsigy.me
#PHOTON_API_HOST=photon.komoot.io
#PHOTON_USE_HTTPS=true
#GEOAPIFY_API_KEY=
