{
	email hello@siffreinsigy.me
	acme_dns cloudflare {env.CF_API_TOKEN}
	metrics
}

*.siffreinsigy.me {
	@up host up.siffreinsigy.me
	handle @up {
		respond "the sea is up" 200
	}

	@headscale host headscale.siffreinsigy.me
	handle @headscale {
		reverse_proxy 127.0.0.1:8080
	}

	@komodo host komodo.siffreinsigy.me
	handle @komodo {
		reverse_proxy 127.0.0.1:9120
	}

	@auth host auth.siffreinsigy.me
	handle @auth {
		reverse_proxy 127.0.0.1:9091
	}

	@whoami host whoami.siffreinsigy.me
	handle @whoami {
		forward_auth 127.0.0.1:9091 {
			uri /api/authz/forward-auth
			copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
		}
		reverse_proxy 100.64.0.1:8090
	}

	@dawarich host dawarich.siffreinsigy.me
	handle @dawarich {
		reverse_proxy 100.64.0.1:3200
	}

	@backrest-tb host backrest-tb.siffreinsigy.me
	handle @backrest-tb {
		reverse_proxy 127.0.0.1:9898
	}

	@backrest-gm host backrest-gm.siffreinsigy.me
	handle @backrest-gm {
		reverse_proxy 100.64.0.1:9898
	}

	@grafana host grafana.siffreinsigy.me
	handle @grafana {
		reverse_proxy 100.64.0.1:3000
	}

	@actualbudget host actual.siffreinsigy.me
	handle @actualbudget {
		reverse_proxy 127.0.0.1:5006
	}

	@profilarr host profilarr.siffreinsigy.me
	handle @profilarr {
		forward_auth 127.0.0.1:9091 {
			uri /api/authz/forward-auth
			copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
		}
		reverse_proxy 100.64.0.1:6868
	}

	@n8n host n8n.siffreinsigy.me
	handle @n8n {
		reverse_proxy 127.0.0.1:5678
	}

	@your_spotify host spotify.siffreinsigy.me
	handle @your_spotify {
		@your_spotify_api path /api/*
		handle @your_spotify_api {
			reverse_proxy 100.64.0.1:8095
		}
		handle {
			forward_auth 127.0.0.1:9091 {
				uri /api/authz/forward-auth
				copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
			}
			reverse_proxy 100.64.0.1:8095
		}
	}

	handle {
		abort
	}
}

overseerr.blackpearl.siffreinsigy.me {
	redir https://seerr-thousandsunny.fox.usbx.me{uri} 302
}
