{
	email siffr.hdesigy@gmail.com
	acme_dns cloudflare {env.CF_API_TOKEN}
}

*.siffreinsigy.me {
	@up host up.siffreinsigy.me
	handle @up {
		respond "the sea is up" 200
	}

	@headscale host headscale.siffreinsigy.me
	handle @headscale {
		reverse_proxy 127.0.0.1:8080
	}

	handle {
		abort
	}
}
